<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thhymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 가입</title>
</head>
<body>
  <div>
    <h3>회원 가입</h3>
    <form action="">
      <div>
        <label for="">ID</label>
        <input type="text">
      </div>
      <div>
        <label for="">PW</label>
        <input type="text">
      </div>
      <div>
        <label for="">Nickname</label>
        <input type="text">
      </div>
      <div>
        <button>join</button>
      </div>
    </form>
  </div>
</body>
</html>