<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thhymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 조회</title>
  <link rel="stylesheet" href="/css/board/all.css">
  <link rel="stylesheet" href="/css/board/posting.css">
  <script type="module" src="/js/common.js" async></script>
</head>
<body class="posting">
  <h3>게시글 조회</h3>
  <form action="#" method="post" id="frm" class="detail">
    <div class="content">
      <label for="title">제목</label>
      <input id="title" name="title" type="text" th:value="${board.title}" readonly>
    </div>
    <div class="content">
      <label for="writer">작성자</label>
      <input id="writer" name="writer" type="text" th:value="${board.writer}" readonly>
    </div>
    <div class="content noline">
      <label for="userId">게시글 번호</label>
      <input id="userId" name="userId" type="text" th:value="${board.userId}" readonly>
    </div>
    <div class="content  noline">
      <textarea name="material" id="material" cols="30" rows="10" th:text="${board.material}" readonly></textarea>
    </div>
    <div class="content  noline">
      <label for="cdate">작성일</label>
      <input id="cdate" name="cdate" type="text" th:value="${board.cdate}" readonly>
    </div>
    <div class="content">
      <label for="udate">수정일</label>
      <input id="udate" name="udate" type="text" th:value="${board.udate}" readonly>
    </div>
  </form>
  <dialog id="delModal">
    <p>삭제하시겠습니까?</p>
    <form action="">
      <button id="cancelBtn">취소</button>
      <button id="delItemBtn">삭제</button>
    </form>
  </dialog>
  <div class="btnBox">
    <input id="modifyBtn" type="button" value="수정">
    <input id="deleteBtn" type="button" value="삭제">
    <input id="listBtn" type="button" value="목록" onclick="location.href='/boards'">
  </div>
  <div id="replyBox">
    <form id="rpfrm">
      <p th:text="${session.loginMember.nickname}" id="rpNickname"></p>
      <p th:text="${session.loginMember.email}" id="rpEmail"></p>
      <textarea name="" id="rpContent" cols="10" rows="10" placeholder="댓글을 입력하세요"></textarea>
      <button id="rpSaveBtn" type="button">등록</button>
    </form>
    <div id="replyList"></div>
  </div>
  <div id="pagination"></div>
  <script type="module">
    import {Pagination} from '/js/common.js'

    //페이징 객체 생성
    const pagination = new Pagination(10, 10); // 한페이지에 보여줄 레코드건수,한페이지에 보여줄 페이지수

    const uid = document.getElementById('userId').value;
    const $modifyBtn = document.getElementById('modifyBtn');
    const $deleteBtn = document.getElementById('deleteBtn');
    const $delModal = document.getElementById('delModal');
    const $delItemBtn = document.getElementById('delItemBtn');
    const $cancelBtn = document.getElementById('cancelBtn');
    const $replyList = document.getElementById('replyList');
    const $rpSaveBtn = document.getElementById('rpSaveBtn');

    // 수정
    $modifyBtn.addEventListener('click', evt => {
      location.href = `/boards/${uid}/edit`;
    });

    // 삭제
    $deleteBtn.addEventListener('click', evt => {
      $delModal.showModal();
    });
    $delModal.addEventListener('close', evt => {
      if ($delModal.returnValue == 'ok') {
        location.href = `/boards/${uid}/delete`;
      }
    });
    $cancelBtn.addEventListener('click', evt => {
      $delModal.close('cancel');
    });
    $delItemBtn.addEventListener('click', evt => {
      $delModal.close('ok');
    })

    // 댓글 등록
    $rpSaveBtn.addEventListener('click', evt => {
      const rpUser = document.querySelector('#rpfrm #rpNickname').innerText;
      const rpEmail = document.querySelector('#rpfrm #rpEmail').innerText;

      fetch(`/api/boards/${uid}/reply`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
              writer: rpUser,
              commentary: rpContent.value,
              email: rpEmail
          })
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('서버에서 응답을 가져오지 못했습니다.');
          }
          return response.json(); // JSON 형식으로 응답
      })
      .then(data => {
        if (data.header.rtcd === "00") {
          const replyList = document.getElementById('replyList');
          const newReply = data.body;

          // 새로운 댓글을 화면에 추가
          const replyElement = document.createElement('div');
          replyElement.innerHTML = `
              <div>
                  <span>${newReply.writer}</span>
                  <p>${newReply.commentary}</p>
              </div>
              <div>
                  <button>수정</button>
                  <button>삭제</button>
              </div>
          `;
          replyList.appendChild(replyElement);
        } else {
          console.error('댓글 등록에 실패했습니다.');
        }
      })
      .catch(error => {
          console.error('에러 발생:', error);
      });
    });

    // 목록
    findReply();
    function findReply() {
      const reqPage = 1; // 페이지 번호를 1로 설정
      const reqCnt = 10; // 한 페이지에 보여줄 댓글 수를 10으로 설정

      fetch(`/api/boards/${uid}/reply`, {
        method: 'GET',
        headers: {
           'Content-Type': 'application/json'
        }
      })
      .then(response => {
        if (!response.ok) {
           throw new Error('서버에서 응답을 가져오지 못했습니다.');
        }
        return response.json(); // JSON 형식으로 응답을 파싱
      })
      .then(data => {
        console.log(data);

        const replyList = document.getElementById('replyList');
        const userId = document.getElementById('userId').value;

        data.body.forEach(reply => {
          if (reply.userId == userId) {
            const replyElement = document.createElement('div');
            replyElement.innerHTML = `
                      <div>
                          <span>${reply.writer}</span>
                          <span>${reply.email}</span>
                          <p>${reply.commentary}</p>
                      </div>
                      <div>
                          <button>수정</button>
                          <button>삭제</button>
                      </div>
                  `;

            replyList.appendChild(replyElement);
          }
        });
      })
      .catch(error => {
        console.error('에러 발생:', error);
      });
    }
  </script>
</body>
</html>