/* 게시글 조회 */
body #frm.detail .content  {
  font-size: large;
  border-bottom: 1px solid #333;
  width: 500px;
}

body #frm.detail .content.noline {
  border: 0;
}

body #frm.detail .content  label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin: 0 25px;
}

body #frm.detail .content input {
  border: 0;
  width: 300px;
}

body #frm.detail .content input:focus {
  outline: none;
}

body #frm.detail .content textarea {
  resize: none;
  width: 500px;
  height: 300px;
}

body #frm.detail .content textarea:focus {
  outline: none;
}

body #replyBox {
  padding-bottom: 20px;
}

body #replyBox #rpContent {
  resize: none;
  width: 400px;
  height: 50px;
}

body #replyBox #rpSaveBtn {
  width: 50px;
  height: 50px;
}

body #replyList div div {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

body #replyList div div span:nth-of-type(1), span:nth-of-type(3) {
  display: none;
}

body #replyList div div span {
  font-weight: bold;
}

body #replyList div div div textarea {
  resize: none;
  width: 300px;
  height: 40px;
}